* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Helvetica;
  font-size: 40px;
  padding: 0.4em 1em;
}

h1 {
  line-height: 0.9em;
}

a {
  color: #449EEF;
  text-decoration: none;
  padding: 3px 5px;
  margin-left: -3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a:hover {
  background: #449EEF;
  color: #fff;
}

a:active {
  background: #4097e8;
}

form {
  margin: 1em 7px;
}

label {
  font-size: 14px;
  cursor: pointer;
}

input[type="text"] {
  font-size: 18px;
  margin-bottom: 1em;
  padding: 5px;
}

input[type="submit"] {
  font-size: 32px;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

textarea {
  width: 800px;
  height: 100px;
  font-family: Bitstream Vera Sans Mono, Monaco, Courier, monospace;
  margin-bottom: 2em;
  padding: 10px;
  font-size: 14px;
}

#inject-label {
  font-size: 16px;
}

#inject-label span {
  color: #aaa;
}

#jquery-warning {
  background: #ffc;
  padding: 6px;
  width: 810px;
  margin-top: 10px;
  border: 1px solid #fc0;
}

#jquery-warning code {
  font-family: Bitstream Vera Sans Mono, Monaco, Courier, monospace;
  background: #ffe;
}

#info p {
  width: 400px;
  float: left;
  margin-right: 20px;
}

#info p input[type="text"] {
  width: 390px;
}

#code-and-description {
  clear: both;
  margin-bottom: -10px;
}

#main-title {
  margin: 1em 0 0.4em;
}

#new-link {
  float: left;
  display: block;
  width: 50%;
}

#source {
  font-size: 14px;
  padding: 1em;
}

#the-list {
  padding: 4px;
/*  margin-top: -180px;*/
  font-size: 14px;
  line-height: 1.6em;
  width: 40%;
  float: left;
}

#the-list a {
  display: inline-block;
}

.about {
  position: absolute;
  top: 2px;
  right: -6px;
  font-size: 12px;
  padding: 2px 12px 2px 6px;
  background: #000;
  color: #fff;
  line-height: 20px;
}

.about:hover {
  background: #0af;
  color: #fff;
}

.about:active {
  background: #4097e8;
}

.about.github {
  top: 28px;
}

form p.last {
  margin-top: 20px;
  font-size: 16px;
}

form p.last a:hover {
  background: white;
  color: #0af;
}

.flash {
  background: #ffc;
  margin-bottom: 20px;
  padding: 10px;
}

blockquote {
  margin: 20px 0;
  color: #ccc;
}

a small {
  font-size: 16px;
  background: #ffa;
  padding: 4px 8px;
  color: #111;
  margin-right: 10px;
  margin-top: 0.7em;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  vertical-align: top;
}
