* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Helvetica;
  font-size: 40px;
  padding: 0.4em 1em;
}

h1 {
  line-height: 0.9em;
}

a {
  color: #449EEF;
  text-decoration: none;
  padding: 3px 5px;
  margin-left: -3px;
}

a:hover {
  background: #449EEF;
  color: #fff;
}

a:active {
  background: #4097e8;
}

form {
  margin: 1em 7px;
}

label {
  font-size: 14px;
}

input[type="text"] {
  font-size: 32px;
  width: 800px;
  margin-bottom: 1em;
}

input[type="submit"] {
  font-size: 32px;
  cursor: pointer;
}

textarea {
  width: 800px;
  font-family: Courier, monospace;
  margin-bottom: 2em;
}

#main-title {
  margin: 1em 0;
}

#source {
  font-size: 14px;
  padding: 1em;
}

#the-list {
  padding: 4px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.6em;
}

blockquote {
  margin: 20px 0;
  color: #ccc;
}