<% title "All of ’em" %>

<h1 id="main-title">
  Bookmarklet<br>Factory
</h1>

<a id="about" href="http://twitter.com/nakajima">a nakajima joint</a>


<div id="new-link">
  <%= link_to 'Click Here to Create One.', new_bookmarklet_path %>
</div>

<div id="the-list">
  Check them out:
  <%- @bookmarklets.each do |bookmarklet| -%>
    <%= link_to h(bookmarklet.name), bookmarklet %>
  <%- end -%>
</div>

